[Desktop Entry]
Type=Application
Name=VATAN Mail
Name[tr]=VATAN Posta
Comment=Read and send email
Comment[tr]=E-posta oku ve gönder
Exec=gjs -m /usr/share/vatan/posta/vatan-posta.js
Icon=org.vatan.Posta
Categories=Network;Email;
Keywords=posta;eposta;e-posta;mail;email;imap;
StartupNotify=true
DBusActivatable=false
OnlyShowIn=VATAN;
